name: CI

on: [push]

jobs:
  run-macOS-latest:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v4
    - name: sh setup.sh
      run: sh setup.sh
  run-ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: sh setup.sh
      run: sh setup.sh

